NUXT_ROBOSATS_COORDINATOR_URL = "if you want to override the default coordinator url that is http://otmoonrndnrddqdlhu6b36heunmbyw3cgvadqo2oqeau3656wfv7fwad.onion"
NUXT_TOR_SOCKS_URL = "if you want to override the default tor socks url that is socks5h://127.0.0.1:9050"